<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @reviewse.comentario %>
</p>

<%= link_to 'Edit', edit_serial_reviewse_path(@serial,@reviewse) %> |
<%= link_to 'Back', serial_path(@serial) %>
