<%= form_for([@serial,@chapter,@visto]) do |f| %>
  <% if visto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visto.errors.count, "error") %> prohibited this visto from being saved:</h2>

      <ul>
      <% @visto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
